div ul li a:visited {
  color: #000;
  font-weight: 500;
}

/*header*/

.nav-cart-num {
  padding: 0.8rem;
}

.header-title {
  font-weight: 800;
}

/*header*/
.main {
  display: block;
}

/*menu*/
.categorys-list {
  padding: 0;
}

.categorys-title {
  transition: all 0.3s;
  font-size: 1.8rem;
}

/*¨carousel*/

.carousel {
  width: 100vw;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 100;
  display: flex;
  margin: 5vh 0 0;
  width: 15vw;
}

.home-img {
  height: 90vh;
  object-fit: cover;
}

.img-title {
  position: relative;
  z-index: 200;
  font-size: 2rem;
  text-decoration: underline;
}

.img-text {
  font-size: 1.5rem;
  text-shadow: 0 0 1rem #000, 0 0 1rem #000;
}

/*about us*/

.about-us {
  border-bottom: 2px solid #000;
  margin: 2rem 0;
}

.about-us-container {
  display: flex;
  flex-direction: column;
}

.about-us-video {
  width: 100%;
}

/*media querys*/

@media screen and (min-width: 600px) {
  .about-us-container {
    flex-direction: row;
    margin: 0 5vw;
  }

  .about-us-video {
    width: 50vw;
  }
}

@media screen and (min-width: 1000px) {
  /*main*/
  .about-us-container {
    margin: 0 10vw;
  }

  .categorys-phone {
    margin: 0;
  }

  .categorys-title {
    margin-left: 10%;
  }

  .categorys-title:hover {
    font-size: 2rem;
  }

  .categorys-list {
    width: 90%;
    margin-left: 10%;
  }
  .categorys-container {
    width: 20vw;
    height: 10vh;
    position: fixed;
    z-index: 5000;
    top: 0;
    left: 9rem;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 0 0.5rem #000;
  }

  .home-show {
    height: 90vh;
    box-shadow: 0 0.5rem 0.5rem #000;
  }
}
