* {
  margin: 0;
  padding: 0;
  font-family: cursive;
}

:root {
  --secondary-color: #145684;
  --bg-color: #c6dbea;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*header*/

.header {
  height: 10vh;
  color: #fff;
}

.icon-page {
  width: 3rem;
  margin: 0 0.5rem;
}

.header-title {
  font-size: 3rem;
  color: var(--bg-color);
  text-shadow: 0.2rem 0.2rem 0.1rem #000;
  transition: all 0.3s;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  box-shadow: 0 0 1rem #000;
  z-index: 2000;
}

.nav-menu {
  position: absolute;
  left: 1rem;
  padding: 0.5rem;
  border-radius: 50%;
}

.nav-cart {
  position: absolute;
  right: 1rem;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.nav-menu:active,
.nav-cart:active {
  background-color: #0003;
}

.nav-cart-num {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  padding: 0.1rem;
  border: 2px solid #fff;
  width: 1.3rem;
  height: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bx {
  pointer-events: none;
}

/*main*/

.main {
  position: relative;
}

/*categorys*/

.subtitle {
  font-size: 2rem;
  text-align: center;
  padding-top: 5vh;
  border-bottom: 1px solid #000;
  height: 10vh;
  color: var(--primary-color);
  text-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 0.1rem #fff,
    0 0 0.1rem #fff;
  letter-spacing: 0.2rem;
  background-color: #000;
}

.categorys-container {
  background-image: url(../assets/imgs/phone.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 50%;
  width: 70vw;
  height: 100vh;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.2s;
  z-index: 150;
}

.show {
  transform: translateX(0);
  filter: drop-shadow(1rem 1rem 0.5rem #000a);
}

.categorys-phone {
  width: 90%;
  height: 60vh;
  margin: 20vh 5%;
}

.categorys-title {
  padding-top: 5vh;
  text-align: center;
  font-size: 2.2rem;
  text-decoration: underline;
}

.categorys-list {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.categorys-icon {
  position: absolute;
  left: -1rem;
}

.categorys-button {
  font-size: 1.5rem;
  padding-left: 1rem;
  margin-left: 2rem;
  border-bottom: 1px solid #000;
  position: relative;
  cursor: pointer;
}

.categorys-button:active {
  background-image: linear-gradient(to left, #0003, transparent);
}

/*products*/

.products-container {
  background-color: #fff;
}

#products {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.products-name {
  width: 100%;
  background-color: #fff;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  padding: 0.5rem 0;
  position: relative;
  top: 0.1rem;
}

.products-price {
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  pointer-events: none;
}

.products-price::first-letter {
  color: #63be78;
  font-weight: 900;
}

.products-quantity {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  display: none;
  border-radius: 50%;
  border: 2px solid #000;
  width: 1.3rem;
  height: 1.3rem;
  justify-content: center;
  align-items: center;
  padding: 0.1em;
  pointer-events: none;
}

.products-product {
  width: 80vw;
  text-align: center;
  margin: 2rem 10vw;
  filter: drop-shadow(0 0 0.5rem #555);
  transform: rotateX(0deg);
  transition: all 0.3s;
  background-image: linear-gradient(to top, transparent, #fff, transparent);
}

.products-btn {
  font-size: 1.2rem;
  width: 100%;
  background-color: #fff;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  pointer-events: all;
  position: relative;
  bottom: 0.5rem;
  padding: 0.1rem 0;
  cursor: pointer;
  transition: border-radius 0.3s;
}

.products-btn:active {
  background-color: #63be78;
}

.products-btn:active ~ .products-price::first-letter {
  color: #000;
}

.products-imgs {
  width: 100%;
  height: 30vh;
  object-fit: contain;
  background-color: transparent;
  transition: all 0.1s;
  transform: rotateX(0deg);
  position: relative;
  z-index: 200;
}

.products-product::after {
  content: "";
  position: absolute;
  z-index: 100;
  top: 40%;
  left: 42.5%;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  padding: 7px;
  background: conic-gradient(
        from 135deg at top,
        var(--secondary-color) 90deg,
        #0000 0
      )
      0 calc(50% - 4px) / 19px 9.5px,
    radial-gradient(
        farthest-side at bottom left,
        #0000 calc(100% - 7px),
        var(--secondary-color) calc(100% - 6px) 99%,
        #0000
      )
      top right/50% 50% content-box content-box,
    radial-gradient(
        farthest-side at top,
        #0000 calc(100% - 7px),
        var(--secondary-color) calc(100% - 6px) 99%,
        #0000
      )
      bottom / 100% 50% content-box content-box;
  background-repeat: no-repeat;
  animation: spinner-v8og74 1s infinite linear;
}

@keyframes spinner-v8og74 {
  100% {
    transform: rotate(1turn);
  }
}

/*cart*/

.cart-container {
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  top: 10vh;
  background-color: transparent;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: translate(90vw, -10vh);
  transition: all 0.3s;
  z-index: 200;
}

.open {
  background-color: var(--bg-color);
  transform: translate(0, 0);
  border-radius: unset;
  border-bottom-left-radius: 1rem;
  width: 100%;
  height: 90%;
}

.cart-title {
  font-size: 2rem;
  text-align: center;
  margin: 1rem 25%;
  pointer-events: none;
  border-bottom: 2px solid #000;
  border-radius: 1rem;
}

.cart-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem 0;
  pointer-events: none;
}

.total {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  text-align: center;
  pointer-events: none;
  position: relative;
}

.total::before,
.total::after {
  content: "";
  width: 100%;
  height: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 5px dashed #0003;
  animation: cart-line 10s linear normal infinite;
}

.total::before {
  left: -100.5%;
}

@keyframes cart-line {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

#reset,
#buy {
  font-size: 1rem;
  pointer-events: all;
  background-color: var(--bg-color);
  color: #000;
  border: 2px solid #000;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: border-radius 0.3s;
}

#reset:active,
#buy:active {
  background-color: #0003;
  border: 1px solid #000;
}

.cart-list {
  pointer-events: none;
  border-top: 2px solid #000;
}

.my-product {
  font-size: 1.5rem;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 1rem 0;
  border-bottom: 1px solid #000;
  transition: background-color 1s;
}

.quantity {
  color: #000;
  border-radius: 50%;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 1.5rem;
  left: 0;
}

.cart-imgs {
  width: 25%;
  height: 5rem;
  margin: 0 0.5rem 0 2.5rem;
  object-fit: contain;
}

.remove-btn {
  pointer-events: all;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  color: #f00;
  filter: drop-shadow(0.1rem 0.1rem 0.1rem #000);
  transition: filter 0.2s;
  flex-grow: 1;
  text-align: right;
  cursor: pointer;
}

.remove-btn:active {
  filter: unset;
}

.msg {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 0;
  pointer-events: none;
  filter: opacity(1);
  user-select: none;
  transition: filter 0.3s;
  color: #000a;
}

.last-buy-container {
  position: relative;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid #000;
  background-color: #0003;
  display: none;
}

.info {
  padding: 1rem 0;
}

.lastBuy {
  margin: 1rem 0 1rem 1rem;
}

/*alertify*/

.ajs-message {
  border-radius: 1rem !important;
  padding: 1rem 0 !important;
  right: 21vw !important;
  box-shadow: 0.5rem -0.5rem 0.5rem #0005 !important;
}

/*footer*/

.footer {
  background-color: var(--secondary-color);
  overflow: hidden;
}

.footer-icon-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
}

.footer-icon {
  display: flex;
  border: 0.25em solid var(--bg-color);
  padding: 1em;
  color: var(--bg-color);
  background-color: transparent;
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--bg-color), 0 0 4em 1em #0003,
    inset 0 0 0.75em 0.25em var(--bg-color);
  text-shadow: 0 0 0.5em var(--bg-color);
  position: relative;
  transition: all 0.3s;
}

.footer-icon::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.footer-icon:active {
  box-shadow: 0 0 0.6em 0.25em var(--bg-color), 0 0 2.5em 2em #000,
    inset 0 0 0.5em 0.25em var(--bg-color);
}

.footer-hr {
  width: 90%;
  margin: 0 5%;
  color: #fff;
}

.footer-copyright {
  text-align: center;
  color: #000;
  margin: 0 10%;
  text-shadow: 0 0 1rem var(--bg-color);
}

/*media querys*/

@media screen and (max-width: 350px) {
  .products-price {
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .header-title {
    font-size: 2rem;
  }

  .icon-page {
    display: none;
  }

  .categorys-list {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 600px) {
  /*alertify*/

  .ajs-message {
    border-radius: 1rem !important;
    width: 35vw !important;
    right: 35vw !important;
    font-size: 1.5rem !important;
    padding: 0 0.1rem !important;
  }
}

@media screen and (min-width: 600px) {
  .categorys-container {
    transform: translateX(-150%) rotate(90deg);
  }

  .show {
    transform: translateX(-10%) rotate(90deg);
  }

  .categorys-phone {
    transform: rotate(-90deg);
    width: 55%;
    height: 40vh;
    margin: 30vh 20%;
  }

  .categorys-title {
    padding: 0;
  }

  /*products*/

  .products-product {
    width: 40vw;
    margin: 2rem 5vw;
  }

  .remove-btn {
    position: absolute;
    right: 2rem;
  }

  /*cart*/

  .quantity {
    left: 2rem;
  }

  .cart-imgs {
    margin: 0 0.5rem 0 5rem;
  }
}

@media screen and (min-width: 1000px) {
  /*header*/

  .icon-page {
    position: absolute;
    top: 0.5rem;
    left: 2rem;
  }

  .header-title:hover {
    text-shadow: 0rem 0rem 0.1rem #000;
    font-weight: 500;
  }

  .nav-menu {
    display: none;
  }

  .nav-cart {
    right: 3rem;
  }

  .nav-cart-num {
    right: 2rem;
  }

  .nav-cart:hover {
    animation: rotate-icon 1s linear normal;
  }

  @keyframes rotate-icon {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(-10deg);
    }
    20% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(10deg);
    }
    40% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    70% {
      transform: rotate(10deg);
    }
    80% {
      transform: rotate(0deg);
    }
  }

  /*main*/

  .subtitle {
    grid-area: subtitle;
    transition: all 0.3s;
  }

  .subtitle:hover {
    color: #fff;
    text-shadow: none;
  }

  .main {
    display: grid;
    grid-template-areas:
      "categorys subtitle subtitle"
      "categorys products products"
      "categorys products products";
    grid-template-rows: auto auto auto;
    grid-template-columns: 20vw auto auto;
  }

  /*categorys*/

  .categorys-container {
    transform: unset;
    background-image: none;
    background-color: var(--bg-color);
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    position: unset;
    top: 0;
    width: unset;
    height: unset;
    grid-area: categorys;
  }

  .categorys-phone {
    width: 90%;
    height: 80vh;
    margin: 0 0 0 10%;
    transform: unset;
    position: sticky;
    top: 15vh;
  }

  .categorys-icon {
    left: -3rem;
    top: -0.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: var(--bg-color);
  }

  .categorys-button {
    border-bottom: none;
  }

  .categorys-button::before {
    content: "";
    width: 0%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: -1rem;
    border-bottom: 1px solid #0005;
  }

  .categorys-button:hover > .categorys-icon {
    border: 1px solid #000;
  }

  .categorys-button:hover::before {
    transition: width 0.3s;
    width: calc(100% + 1rem);
  }

  /*products*/

  .products-container {
    grid-area: products;
    border-bottom: 1px solid #000;
  }

  .products-product {
    width: 25vw;
    margin: 2rem 2vw;
  }

  .products-btn:hover {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  /*cart*/

  .cart-container {
    transform: translate(120vw, -10vh);
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transition: unset;
  }

  .open {
    transform: translate(0vw, 0vh);
    width: 50%;
    height: 70%;
    right: 0;
    transition: all 0.3s;
  }

  #buy:hover,
  #reset:hover {
    border-radius: 1rem;
  }

  /*footer*/

  .footer-icon {
    padding: 1rem 3rem;
  }

  .footer-icon:hover {
    color: #000;
    background-color: var(--bg-color);
    box-shadow: 0 0 1em 0.25em var(--bg-color), 0 0 4em 2em var(--bg-color),
      inset 0 0 0.75em 0.25em var(--bg-color);
  }
}
